nodeLinker: node-modules

yarnPath: .yarn/releases/yarn-3.6.4.cjs

npmScopes:
  ummgoban:
    npmRegistryServer: 'https://npm.pkg.github.com'

npmRegistries:
  'https://npm.pkg.github.com':
    npmAlwaysAuth: true
    npmAuthToken: '${NPM_TOKEN}'